<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--bean for actor object 1-->
    <bean id="suchita" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Suchita"/>
        <constructor-arg name="gender" value="Female"/>
        <constructor-arg name="age" value="23"/>

    </bean>

    <!--bean for actor object 2-->
    <bean id="ashish" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Ashish"/>
        <constructor-arg index="1" value="Male"/>
        <constructor-arg index="2" value="25"/>

    </bean>

    <!--bean for actor object 3-->
    <bean id="rashi" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="Rashi"/>
        <constructor-arg type="String" value="Female"/>
        <constructor-arg type="int" value="27"/>

    </bean>

    <bean id="sushmita" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="Sushmita"/>
        <constructor-arg type="String" value="Female"/>
        <constructor-arg type="int" value="25"/>

    </bean>

    <bean name="movie1" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor1" ref="suchita"/>
        <constructor-arg name="actor2" ref="ashish"/>
        <constructor-arg name="actor3" ref="sushmita"/>
    </bean>

    <bean name="movie2,movie3" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor1" ref="suchita"/>
        <constructor-arg name="actor2" ref="ashish"/>
        <constructor-arg name="actor3" ref="rashi"/>
    </bean>

</beans>